<div mat-dialog-content class="dialog-wrapper">
    <div class="content" [ngClass]="{'horizontal-content': isVertical !== true && (data.mediaType === 'image' || data.mediaType === 'audio'), 'video-content': data.mediaType === 'video'}">
        <div [ngClass]="isVertical === true ? 'vertical-media': 'horizontal-media'" class="center-align">
            <span *ngIf="data.mediaType !== 'audio'" mat-dialog-close class="material-icons dialog-button-close">
                close
            </span>

            <!-- media type: image -->
            <img *ngIf="data.mediaType === 'image'" src={{data.mediaContent}} [ngClass]="isVertical === true ? 'vertical-media': 'horizontal-media'" #media (load)="onLoad()">

            <!-- media type: video -->
            <video *ngIf="data.mediaType === 'video'" controls class="horizontal-media" width="100%">
                <source src={{data.mediaContent}}>
            </video>
           
            <!-- media type: audio -->
            <div *ngIf="data.mediaType === 'audio'" class="audio-wrapper">
                <span *ngIf="data.mediaType === 'audio'" mat-dialog-close class="material-icons dialog-audio-close">
                    close
                </span>
                <audio controls>
                    <source src={{data.mediaContent}}>
                </audio>
            </div>

        </div>
    </div>
    <div class="comment">
        {{data.mediaComment}} 
    </div>
</div>
