.container{
    display: flex;
    margin-top: 30px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
